.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #0e1738, #37185d, #592964, #9b5c4a);
}

.login-form-container,
.login-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  min-width: 20vh;
}

.card {
  margin: 1rem;
}

.people-header {
  margin: 1rem;
  font-size: xx-large;
  color: white;
}

.welcome-header {
  font-size: x-large;
  text-align: center;
  padding: 1rem;
}

label {
  font-weight: bold;
  color: dimgray;
  text-align: left;
  padding: 0.5rem 0;
}

input {
  background-color: gainsboro;
  margin: 0.8rem 0;
  padding: 1rem;
  border: none;
  border-radius: 12px;
}

button {
  font-size: large;
  font-weight: bold;
  padding: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  background-color: coral;
}
