.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #0e1738, #37185d, #592964, #9b5c4a);
  padding: 3rem;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  min-width: 30vh;
  background-color: white;
  box-shadow: 0px 5px 5px 0px #1d2234;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
}

.welcome-header {
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
  color: dimgray;
}

label {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: dimgray;
  padding: 0.5rem 0;
}

input {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  outline-color: #592964;
  background-color: gainsboro;
}

.login-button {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem 0 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: coral;
}

button:disabled,
button[disabled] {
  background-color: rgba(255, 127, 80, 0.511);
  color: white;
}

.people-header {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 3rem;
  font-weight: bold;
  color: white;
}

.card {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.g-4 {
  justify-content: center;
}
